@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	background-color: #E1D4C9;
	font-family: 'Inter'

}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
}

header {
	margin: 20px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--text-dark, #403F3D);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Action/link & button */
	font-family: 'Inter';
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;

}

nav ul {
	display: flex;
}

nav li {
	list-style-type: none;
}

nav li:not(:last-child) {
	padding-right: 40px;
}

header a {
	text-decoration: none;
	color: inherit;
}



.hero {
	display: flex;
	padding: 0px 40px;
	flex-direction: column;
	align-items: center;
	align-self: stretch;
	margin-bottom: 100px;
}

.hero-image {
	display: flex;
	max-width: 1360px;
	padding: 100px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	align-self: stretch;
	border-radius: 40px;

	background: url('../image/53de184b52e70f8c6142237a41f29303.jpg'), lightgray 50% / cover no-repeat;
}

.hero-title {
	align-self: stretch;
	color: var(--text-accent, #B0907A);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Heading/heading-1.accent */
	font-family: 'Inter';
	font-size: 72px;
	font-style: italic;
	font-weight: 600;
	line-height: 105%;
	margin: 0 0 40px 0;
}

.hero-title span {
	color: var(--text-light, #E1D4C9);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Heading/heading-1 */
	font-family: 'Inter';
	font-size: 72px;
	font-style: normal;
	font-weight: 600;
	line-height: 105%;
}

.hero-text {
	align-self: stretch;
	color: var(--text-light, #E1D4C9);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Body/medium */
	font-family: 'Inter';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	/* 24px */
	margin: 0 0 40px 0;
}

.offer {
	display: flex;
	width: 530px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 40px;
}

.button-primory {
	border: none;
	margin: 0;
	display: flex;
	width: 200px;
	padding: 20px 78px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 100px;
	background: var(--background-body, #E1D4C9);
	color: var(--text-dark, #403F3D);
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Action/link & button */
	font-family: 'Inter';
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%
}

.favorite-coffee {
	display: flex;
	padding: 0px 40px;
	flex-direction: column;
	align-items: center;
	align-self: stretch;
}

.favorite-cofee-title {
	align-self: stretch;
	color: var(--text-dark, #403F3D);
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Heading/heading-2 */
	font-family: 'Inter';
	font-size: 60px;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;
	margin-bottom: 40px;
	padding: 0;
}

.favorite-cofee-title span {
	color: var(--text-accent, #B0907A);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Heading/heading-2.accent */
	font-family: 'Inter';
	font-size: 60px;
	font-style: italic;
	font-weight: 600;
	line-height: 125%;
}

.slider {
	display: flex;

	flex-direction: column;
	align-items: center;
	gap: 40px;
	margin-bottom: 100px;
}

.slider-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	align-self: stretch;
	padding: 0 40px;
	margin-bottom: 40px;
}

.slide-1 {
	display: flex;

	min-width: 480px;
	max-width: 1162px;
	flex-direction: column;
	align-items: center;
}

.coffee-image {
	width: 480px;
	height: 480px;
	background: url("../image/coffee-slider-1.jpg"), lightgray 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 20px;
}

.description-title {
	align-self: stretch;
	color: var(--text-dark, #403F3D);
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Heading/heading-3 */
	font-family: 'Inter';
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;
	margin: 0;
}

.description-text {
	align-self: stretch;
	color: var(--text-dark, #403F3D);
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Body/medium */
	font-family: 'Inter';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	margin: 16px 0;
}

.coffee-prise {
	align-self: stretch;
	color: var(--text-dark, #403F3D);
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Heading/heading-3 */
	font-family: 'Inter';
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;
	margin: 0;
}

.about {
	display: flex;

	align-items: center;
	justify-content: center;
	gap: 40px;
	align-self: stretch;
	margin-bottom: 100px;

}

.about-title {
	align-self: stretch;
	color: var(--text-dark, #403F3D);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Heading/heading-2 */
	font-family: 'Inter';
	font-size: 60px;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;
	margin: 0 40px 40px 40px;
}

.about-title span {
	color: var(--text-accent, #B0907A);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Heading/heading-2.accent */
	font-family: 'Inter';
	font-size: 60px;
	font-style: italic;
	font-weight: 600;
	line-height: 125%;
}

.coumn-picture {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
}

.about-image-girl {
	width: 726px;
	height: 726px;

	flex-shrink: 0;

	background: url('../image/465b782f7ec6c3deeb3e97cebd563ce4.jpg'), lightgray 50%;
	background-repeat: no-repeat;
	background-size: contain;
	transform: translate(-33px, -68px);

}

.about-image-cover-girl {
	width: 660px;
	height: 590px;

	overflow: hidden;
	border-radius: 20px;
}


.about-image-cover-cup-coffee {
	width: 726px;
	height: 726px;

	flex-shrink: 0;

	background: url('../image/d489e0c95b9096b7c8a60a4ad47b9b56.jpg'), lightgray 50%;
	background-repeat: no-repeat;
	background-size: contain;
	transform: translate(-33px, -148px);

}

.about-image-cup-cofee {
	width: 660px;
	height: 430px;
	overflow: hidden;
	border-radius: 20px;
}


.about-image-cover-men {
	width: 726px;
	height: 726px;

	flex-shrink: 0;

	background: url('../image/cd0d53e8cb86335050545a92e43c50e3.jpg'), lightgray 50%;
	background-repeat: no-repeat;
	background-size: contain;
	transform: translate(-33px, -148px);

}

.about-image-men {
	width: 660px;
	height: 430px;
	overflow: hidden;
	border-radius: 20px;
}

.container {
	display: flex;
	max-width: 1360px;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	align-self: stretch;
}

.about-image-lover {
	width: 726px;
	height: 726px;

	flex-shrink: 0;

	background: url('../image/a32a387bbdf247b1a5ecbfdb88410cac.jpg'), lightgray 50%;
	background-repeat: no-repeat;
	background-size: contain;
	transform: translate(-33px, -68px);

}

.about-image-cover-lover {
	width: 660px;
	height: 590px;

	overflow: hidden;
	border-radius: 20px;
}

.images {
	display: flex;
	max-width: 1360px;
	align-items: flex-start;
	gap: 40px;
	align-self: stretch;
}

.mobail-app {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 100px;
	align-self: stretch;
	margin-bottom: 100px;
}

.container-mobail-app {
	display: flex;
	max-width: 1360px;
	justify-content: center;
	align-items: center;
	gap: 100px;
	flex: 1 0 0;
}

.offer-mobail-app {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
	flex: 1 0 0;
}

.mobail-app-title {
	color: var(--text-dark, #403F3D);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Heading/heading-2 */
	font-family: 'Inter';
	font-size: 60px;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;
	/* 75px */
	margin: 0 0 40px 0;
}

.mobail-app-title span {
	color: var(--text-accent, #B0907A);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Heading/heading-2.accent */
	font-family: Inter;
	font-size: 60px;
	font-style: italic;
	font-weight: 600;
	line-height: 125%;
	;
}

.mobail-app-text {
	color: var(--text-dark, #403F3D);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Body/medium */
	font-family: 'Inter';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	padding: 0;
	margin: 0 0 40px 0;

}

.button-app {
	display: flex;
	width: 200px;
	padding: 12px 20px;
	align-items: center;
	gap: 8px;
	border-radius: 100px;
	border: 1px solid var(--border-dark, #665F55);
}

.link-mobail-app {
	color: var(--text-dark, #403F3D);
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Body/caption */

	font-size: 10px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
	padding: 0;
	margin: 0;
}

.link-mobail-app span {
	color: var(--text-dark, #403F3D);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Action/link & button */
	font-family: 'Inter';
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
}

.buttons-link-groop {
	display: flex;
	align-items: flex-start;
	gap: 20px;
}

.scrin-shot {
	width: 630px;
	height: 630px;
	background: url('../image/mobile-screens.png'), lightgray 50% / cover no-repeat;
}

footer {
	display: flex;
	max-width: 1360px;
	padding: 100px;
	justify-content: center;
	align-items: center;
	gap: 100px;
	align-self: stretch;
	border-radius: 40px;
	background: var(--background-container, #665F55);
	margin: 0 40px 40px 40px;
}

.footer-offer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 40px;
	flex: 1 0 0;

}

.footer-offer-title {
	align-self: stretch;
	color: var(--text-light, #E1D4C9);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Heading/heading-2 */
	margin: 0;
	font-size: 60px;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;
}

.footer-offer-title span {
	color: var(--text-accent, #B0907A);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Heading/heading-2.accent */

	font-size: 60px;
	font-style: italic;
	font-weight: 600;
	line-height: 125%;
}

.social-midia {
	display: flex;
	align-items: center;
	gap: 12px;
}

.title-contact {
	align-self: stretch;
	color: var(--text-light, #E1D4C9);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Heading/heading-3 */

	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;
}

.block-contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 16px;
}

.contact {
	color: var(--text-light, #E1D4C9);
	font-feature-settings: 'clig' off, 'liga' off;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
}

.menu {
	display: flex;
	padding: 0px 40px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 40px;
	align-self: stretch;
}

.menu-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 40px;
	align-self: stretch;
}

.offer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	align-self: stretch;
}

.menu-offer-title {
	width: 800px;
	color: var(--text-dark, #403F3D);
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Heading/heading-2 */
	padding: 0;
	margin: 0;
	font-size: 60px;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;
}

.menu-offer-title span {
	color: var(--text-accent, #B0907A);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Heading/heading-2.accent */

	font-size: 60px;
	font-style: italic;
	font-weight: 600;
	line-height: 125%;
}

.tabs {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.greed {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	gap: 40px;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.preview {
	display: flex;
	height: 506px;
	flex-direction: column;
	align-items: center;
	border-radius: 40px;
	border: 1px solid var(--border-light, #C1B6AD);
}

.box {
	width: 310px;
	height: 310px;
	flex-shrink: 0;
	border-radius: 40px;

}

.menu-description {
	display: flex;
	padding: 20px;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	flex: 1 0 0;
	align-self: stretch;
}

.discription-menu-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 12px;
	align-self: stretch;
}

.menu-item-title-name {
	align-self: stretch;
	color: var(--text-dark, #403F3D);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Heading/heading-3 */
	padding: 0;
	margin: 0;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;
}

.menu-item-title-description {
	align-self: stretch;
	color: var(--text-dark, #403F3D);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Body/medium */

	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.prise-menu {
	color: var(--text-dark, #403F3D);
	font-feature-settings: 'clig' off, 'liga' off;
	/* Desktop/Heading/heading-3 */

	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;
	align-self: stretch;


}

.coffee-menu-1 {
	background: url('../image/75d8a88fd837459b2a22cb87ef45880e.jpg'), lightgray 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.coffee-menu-2 {
	background: url('../image/695ab7867026ea7fc02e612b6099b269.jpg'), lightgray 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.coffee-menu-3 {
	background: url('../image/b7968a658f47816c2af2634602e39c95.jpg'), lightgray 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.coffee-menu-4 {
	background: url('../image/30a6ff7f93be1a3ee3c3792335b5568b.jpg'), lightgray 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.coffee-menu-5 {
	background: url('../image/afb7a60025da2e64bd9ae0d3454377e5.jpg'), lightgray 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.coffee-menu-6 {
	background: url('../image/574d8905e4cfd4d1433362855ae0d83e.jpg'), lightgray 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.coffee-menu-7 {
	background: url('../image/593c4f4888e2accd772207b8d146e744.jpg'), lightgray 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.coffee-menu-8 {
	background: url('../image/3bd4b66a5901823060973a7f50b93fa9.jpg'), lightgray 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.tab-item {
	display: flex;
	padding: 8px 16px 8px 8px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 100px;
	background: var(--background-container, #665F55);
}

.tab-item p {
	color: var(--text-light, #E1D4C9);
	font-feature-settings: 'clig' off, 'liga' off;

	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
}

.tab-item-not-active {
	display: flex;
	padding: 8px 16px 8px 8px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 100px;
	border: 1px solid var(--border-light, #C1B6AD);
}

.tab-item-not-active p {
	color: var(--text-dark, #403F3D);
	font-feature-settings: 'clig' off, 'liga' off;

	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
}.slider-line{display: flex;
	align-items: flex-start;
	gap: 12px;}
	.slider-line-point{width: 40px;
		height: 4px;
		border-radius: 100px;
		background: var(--border-light, #C1B6AD);}
		.slider-line-point-active{background: var(--border-dark, #665F55);
			}